.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    padding: 10px 40px;
    font-weight: 900;
    font-size: 24px;
}
.logo {
    width: 35px;
    height: 35px;
    fill: var(--white);
}
.logo:hover {
    fill: var(--secondary);
}

.link {
    width: 40px;
    height: 40px;
    fill: var(--red);
    animation: git 1.2s ease-in-out infinite;
}
.link:hover {
    fill: var(--primary);
}
@keyframes git {
    0% {
        scale: 0.9;
    }
    25% {
        scale: 1.2;
    }
    45% {
        scale: 0.8;
    }
    70% {
        scale: 1.1;
    }
    90% {
        opacity: 1;
    }
}
.text {
    font-style: 14px;
}
@media (max-width: 560px) {
    .header {
        font-weight: 400;
        font-size: 20px;
        padding: 10px;
    }
    .logo {
        width: 25px;
        height: 25px;
    }
    .link {
        width: 25px;
        height: 25px;
    }
}
