.menu {
    position: absolute;
    top: 150px;
    left: 0;
    width: 40px;
    height: 40px;
    color: var(--white);
    display: none;
    cursor: pointer;
}
.icon {
    width: 40px;
    height: 40px;
    padding: 10px;
}
.icon svg {
    fill: var(--black);
}
.icon:hover svg {
    fill: var(--secondary);
}
.open {
    width: 200px;
}
.active svg {
    fill: var(--primary);
}
@media (max-width: 569px) {
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
