.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    padding: 10px 40px;
    font-weight: 900;
    font-size: 24px;
}
.search {
    position: relative;
    flex-grow: 1;
    max-width: 70%;
    min-width: 150px;
    font-size: 12px;
    color: var(--black);
    font-weight: normal;
}
.search label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.search label:hover {
    color: var(--secondary);
}
.search label input {
    margin: 0 10px;
}
.searchText {
    height: 26px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 4px var(--black);
}
.searchText:hover {
    box-shadow: 0px 0px 4px var(--secondary);
}
.search:hover svg {
    fill: var(--secondary);
}
.searchText:focus {
    outline: 1px solid var(--primary);
    box-shadow: 0px 0px 4px var(--primary);
}
.search svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    right: 2px;
    fill: var(--gray);
}
.avatar {
    box-shadow: 2px 2px 4px var(--black);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    overflow: hidden;
}
.avatar svg {
    border-radius: 50%;
    fill: var(--black);
}
