.layout {
    display: grid;

    min-height: 100vh;
    grid-template-columns: auto 190px minmax(320px, 1200px) auto;
    grid-template-rows: auto 100px 1fr auto;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas:
        '. header header .'
        '. sidebar user .'
        '. sidebar content .'
        'footer footer footer footer';
}

.header {
    grid-area: header;
    background: var(--black);
}
.user {
    grid-area: user;
    background: var(--bg-gr);
}

.sidebar {
    grid-area: sidebar;
    background: var(--fiolet-gr);
}

.content {
    grid-area: content;
    background: var(--bg-gr);
    color: var(--dark);
    padding: 20px;
}

.footer {
    grid-area: footer;
    background: var(--black);
}
